@using Microsoft.AspNetCore.Identity
@using ProFit.Web.Utility
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Agendamentos";
}

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole(SD.AdminUser))
    {
        <div class="jumbotron">
            <h1 class="display-3">@await Component.InvokeAsync("UserName")</h1>
            <p class="lead">Sistema para gerenciamento de alunos, horários e agendamento de aulas.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-danger btn-lg" asp-area="Admin" asp-controller="Agendamentos" asp-action="Index" role="button">Ver agendamentos</a>
            </p>
        </div>
    }
    if (User.IsInRole(SD.AlunoUser))
    {
        <div class="jumbotron">
            <h1 class="display-3">@await Component.InvokeAsync("UserName")</h1>
            <p class="lead">Agende o horário da sua aula.</p>
            <hr class="my-4">
            <p class="lead">
            <p>Clique em agendar horário para selecionar uma data ou acompanhe seus agendamentos.</p>
            <a class="btn btn-danger btn-lg mt-2" asp-area="Aluno" asp-controller="Agendamento" asp-action="Create" role="button">Agendar horário</a>
            <a class="btn btn-primary btn-lg mt-2" asp-area="Aluno" asp-controller="Agendamento" asp-action="Index" role="button">Ver agendamentos</a>
            </p>
        </div>
    }

}
else
{
    <div class="text-center mt-4">
        <h1 class="display-4">Bem-vindo</h1>
        <p>Digite o seu CPF para acessar o sistema.</p>
    </div>

    <div class="text-center">
        <form asp-action="CheckCadastro" method="post">
            <div class="mb-3 col-md-4 offset-md-4">
                <input type="number" name="cpf" class="form-control" style="text-align:center;" required>
            </div>
            @if (TempData["Msg"] != null)
            {
                <div class="mb-2"><span class="text-danger">@TempData["Msg"]</span></div>
            }
            <button type="submit" class="btn btn-danger">Verificar cadastro</button>
        </form>
    </div>

    <div class="text-center mt-4">
        <hr />
        <p>Se já for cadastrado, clique em entrar.</p>
        <a class="btn btn-primary" asp-area="Identity" asp-controller="Account" asp-action="Login">Entrar</a>
    </div>
}


