@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Digite seu e-mail e senha.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            Lembrar
                            <input asp-for="Input.RememberMe" />

                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

<h4>Ainda não possui conta?</h4>
<hr />
<div class="row mb-4">
    <div class="col-md-4">
        <a class="btn btn-danger" asp-area="Aluno" asp-controller="Home" asp-action="Index">Verificar cadastro</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
