@model ProFit.Web.Models.Feriado

@{
    ViewData["Title"] = "Editar data";
}

<div class="row mt-4">
    <h2>Editar data</h2>
</div>

<div class="row col-5 mb-5">
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label class="form-label" asp-for="Data"></label>
            <input type="date" class="form-control" asp-for="Data">
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Descricao"></label>
            <input type="text" class="form-control" asp-for="Descricao">
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="hidden" name="Id" asp-for="@Model.Id" />
            <input class="btn btn-danger" type="submit" value="Salvar" />
            <a class="btn btn-secondary" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}